@model Northwind.Read.PagedListResult<Northwind.Read.CategoriesListQuery.Result>

@{
    ViewBag.Title = "Categories";
}
<div class="page-header">
    <h1>Categories <small>manage your categories</small></h1>
</div>

<div class="row">
    <a class="btn btn-default btn-primary pull-right" href="@Url.Action("Create")">New category</a>
</div>

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Items)
            {
                <tr>
                    <td>@m.Name </td>
                    <td>@m.Description</td>
                    <td><a class="btn btn-default pull-right" href="@Url.Action("Change", new {id = m.Id})">Details >></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_PagingWidget")


